/* cursor */
html,
body {
  cursor: url('/img/cursor.cur'), auto;
}

.food-info {
  display: flex;
  justify-content: space-between;
}

.swiper-container {
  width: 100%;
  height: 55px;
  background-color: cadetblue;
}

.swiper-slide {
  padding: 15px 0 15px 50px;
}

